{% import "bootstrap/utils.html" as utils %}{% import "bootstrap/wtf.html" as
wtf %} {% extends "base.html" %} {% block title %}My Data Lists{% endblock %} {%
block body %}
<!DOCTYPE html>
<html>
  <head lang="en">
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <meta charset="UTF-8" />
  </head>
  <body>
    <br>
    <br><br>
    <BR>
    <H1 class="container center">DATA FROM JSON FILE</H1>
    <div class="container">
      <div class="row">
        <div class="col-md-6 center" >
            {{data | safe}}
        </div>
    </div>
  </body>
</html>
{% endblock %}
